/* Header.module.css */

.headerContainer {
  position: sticky;
  top: 0;
  max-height: 55px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.leftSection {
  display: flex;
  align-items: center;
}


.logo {
  width: 80px;
  height: 70px;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 18px;
  overflow: hidden;
  border-radius: 50%;
  background-color: white;
  background: #fff;

}

.centerSection {
  display: flex;
  align-items: center;
}

.searchInput {
  padding: 5px;
  margin-right: 10px;
  height: 30px;
}

.PostButton {
  background-color: white;
  color: rgb(80, 68, 68);
  border: none;
  padding: 4px 4px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}


.activ {
  color: black;
}

.rightSection {
  display: flex;
  align-items: center;
}

.iconMessage,
.iconNotification {
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.avatar {
  width: 30px;
  height: 30px;
  background-color: #ddd;
  /* Серый цвет */
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
  /* Вставьте фактическое изображение пользователя как фон */
  /* background-image: url('path-to-avatar-image.jpg'); */
  /* background-size: cover; */
}