body {
    height: 100%;
    background-color: #deebf1;
}


#app {
    height: 100%;
}

* {
    box-sizing: border-box;
}

:root {
    --text-color: red
}

[data-theme="light"] {
    --text-color: blue
}