.createPostFormContainer {
    min-width: 500px;
    max-width: 700px;
    margin: 0 auto;
    padding: 15px;
    border: 3px solid #a2c9e6;
    border-radius: 5px;
}

.createPostForm {
    display: flex;
    flex-direction: column;
}

.formField {
    margin-bottom: 15px;
}

.inputField,
.textareaField,
.fileInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #bde1f1;
    border-radius: 4px;
}

.textareaField {
    min-height: 80px;
    color: #4a5664c7;
}

.errorMessage {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.submitButton {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #007bff;
    }

    &:disabled {
        background-color: #92d3eb;
        cursor: not-allowed;
    }
}


.resetButton {
    margin-top: 16px;
    padding: 10px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #0056b3;
    }

    &:disabled {
        background-color:  #92d3eb;
        cursor: not-allowed;
    }
}